/* common shared styles */
.landing-page{
    font-family: 'Inter', 'Merriweather', sans-serif;
    background: #FFF;
    width: 100%;   
}


/* header styles */
.header-area{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Banner-Image.png);
    background-size: 100% 100%;
    max-width: 1320px;
    height: 600px;
    margin: 50px 140px;
    border-radius: 16px;

}
.header-title{
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    color:#FFF;
    padding-top: 130px;
    font-weight: 400;
}
.header-info{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.header-info-text{
    display: block;
}