/* common shared styles */
body{
    margin: 0;
    padding: 0;
}
.landing-page{
    font-family: 'Inter', 'Merriweather', sans-serif;
    background: #FFF;
    width: 100%;   
}
.flex-center{
    display: flex;
    align-items: center;  
}
.max-width-margin{
    max-width: 1600px;
    margin: 120px;
}


/* header styles start */
.header-area{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Banner-Image.png);
    background-size: 100% 100%;
    /* height: 600px; */
    margin: 50px 120px;
    border-radius: 16px;
    padding-bottom: 150px;
}
.header-title{
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    color:#FFF;
    padding-top: 120px;
    font-weight: 400;
}
.header-info{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.header-info-text{
    display: block;
}

                            /* discount styles start */
.discount-area{
    text-transform: uppercase;
    text-align: center;
    font-family: Inter;
    background: rgba(255, 0, 0, 0.05);  
    border-radius: 16px;
}
.discount-title{
    padding-top: 30px;
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}
.discount-info{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.discount-info-title{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}
.New-Year-Photo{
    padding-bottom: 20px;
}


                            /* midnight party styles start */
.midnight-banner{
    display: flex;
    background: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),
     url(../images/Vectorrr.png);
     background-size: 100% 100%;
     background-repeat: no-repeat;
     border-radius: 16px;
}
.midnight-title{
    text-align: left;
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7.04px;
    padding-top: 80px;
    padding-left: 126px;
}
.midnight-info{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 697px;
    padding-bottom: 48px;
    padding-left: 126px;   
}
.midnight-btn{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border: none;
    outline: none;
    background: none;
    padding-left: 148px;
    padding-bottom: 40px;
    cursor: pointer;
}
.midnight-btn:hover{
    color: #f03;
}
.midnight-images img{
    margin-top: 100px;
    padding-right: 90px;
}

                            /* comming soon area start */
.comming-soon{
    background: rgba(255, 0, 0, 0.05);  
    border-radius: 16px;
    display: flex;
    /* align-items: center; */
}
.comming-soon > div {
    flex: 1;
    /* padding: 10px; */
}

.coming-soon-name{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: start;
}
.coming-soon-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    text-align: start;
}
.coming-soon-info{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.ellipse{
    max-width: 463px;
    border: 15px solid #f00;
    padding: 15px;
    background: white;
    display: inline-block;
    /* border-radius: 231px; */
    border-radius: 50%;
}
.colum-two{
    padding: 10px;
}

.colum-three-title{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-weight: 700;
    text-align: start;
    /* margin-top: 70px; */
}
.colum-three-info{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    text-align: start;
}
.colum-three-image{
    align-items: start;
}
.colum-one , .colum-three{
    padding-top: 50px;
}

                            /* location styles start */
.location-area{
    display: flex;
    flex-direction: column;
    align-items: center;
    background: rgba(255, 0, 0, 0.05);  
    border-radius: 16px;
}
 .location {
    margin: 100px auto 18px;
} 


.label-heading {
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.location-area input[type="text"] {
    border: none;
    background-color: transparent;
    outline: none;
    color: #070211;
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    line-height: 58px;
    text-transform: capitalize;
}

.btn-join input{
    width: 150px;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    border: none;
    margin-bottom: 90px;
    cursor: pointer;
}
.btn-join input:hover{
    background: #f03;
}


                            /* holiday styles start */
.holiday{
    background: rgba(255, 0, 0, 0.05);  
    border-radius: 16px;
}
.holiday-name{
    padding-top: 30px;
    color: #070211;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
}
.holiday-title{
    color: #F00;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.sale-offer{
    color: #070211;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
}
.holiday-info{
    max-width: 1068px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
}
.readmore{
    font-family: Inter;
    font-style: italic;
    cursor: pointer;
    font-weight: 700;
}
.image-area-holiday{
    display: flex;
}
.botto-image{  
    justify-content: space-between;
    align-items: center;
}
.botto-image img {
    max-width: 100%;
}
.popcorn{
    position: relative;
    top: 125px;
}
.side-image{
    background-image: url(../images/Rectangle1.png);
    background-repeat: no-repeat;
    background-position: top right;
    width: 100%;
    border-radius: 16px 16px 0px 0px;
}
.rec{
    background: #F00;
    height: 200px;
    border-radius: 16px 0px 16px 16px;
}

                            /* portfolio styles start */
.portfolio{
    background: rgba(255, 0, 0, 0.05);  
    border-radius: 16px;
}
.portfolio-name{
    padding-top: 30px;
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    text-transform: uppercase;
}
.portfolio-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.portfolio-info{
    max-width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.gallery-row {
    height: auto;
    display: flex;
}
.gallery-coloumn{
    max-width: 424px;
    max-height: 450px;
    margin: 20px;
    cursor: pointer;
    overflow: hidden;
}
.gallery img {
    width: 100%;
    transition: transform 0.3s ease-in-out;   
}
.gallery-coloumn img:hover {
    transform: scale(1.5); 
}

                            /* newsletter styles start */
.newsletter{
    background: rgba(255, 0, 0, 0.05);  
    border-radius: 16px;
}
.newsletter-container{
    padding: 80px 212px;
    text-align: center;
}
.newsletter-container img{
    width: 150px;
    height: 150px;
}
.news-content-title{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}
.news-content-info{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
}
.input-email {
    max-width: 720px;
}
.email-input, input{
    height: 45px;
    width: 70%;
    border-radius: 50px;
}
.email-submit, input[email="text"]::placeholder {
    color: rgba(7, 2, 17, 0.30);
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
}
.email-input {
    font-size: 28px; 
    border: none;  
}
.subscribe-button {
    padding: 21px;
    height: 48px;
    max-width: 150px;
    background: #F00;
    border: none;
    border-radius: 0px 30px 30px 0px;
    cursor: pointer;
    margin-left: -105px;
}
.subscribe-button:hover{
    background: #f03;
}

                            /*footer area styles start*/
.footer-area{
    max-width: 1600px;
    background: #070211;
    padding: 120px 140px;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.flex-center{
    display: flex;
    align-items: center;  
}
.flex-center img{
    max-width: 24px;
    max-height: 24px;
    cursor: pointer;
}
.flex-center p{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 10px;
    color: #FFF;
    cursor: pointer;
}
.flex-center p:hover{
    color: green;
}
.flex-center img{
    max-width: 24px;
    max-height: 24px;
    margin-right: 10px;
    cursor: pointer;
}
.flex-center a{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    color: #FFF;
    cursor: pointer;
    text-decoration: none;
} 
.flex-center a:hover{
    color: green;
} 
.large-text{
    max-width: 60%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    overflow-wrap: break-word;
    color: #FFF;
}

.footer-social-media {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.footer-social-media img{
    max-width: 64px;
    max-height: 64px;
    padding: 24px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
.social-icon:hover {
    transform: scale(1.1);
}
.cpoy-right-text{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    color: #FFF;
}
.copy-right-column button{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    background: #070211;
    border: none;
    cursor: pointer;
}
.copy-right-column button:hover{
    color: #f03;
}

.footer-cpoy-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr {   
    max-width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    color: #FFFFFF26;
    border: none;
}

