/* common shared styles */
body{
    margin: 0;
    padding: 0;
}
.landing-page{
    font-family: 'Inter', 'Merriweather', sans-serif;
    background: #FFF;
    width: 100%;   
}


/* header styles */
.header-area{
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/Banner-Image.png);
    background-size: 100% 100%;
    max-width: 1320px;
    height: 600px;
    margin: 50px 140px;
    border-radius: 16px;

}
.header-title{
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    color:#FFF;
    padding-top: 130px;
    font-weight: 400;
}
.header-info{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
}
.header-info-text{
    display: block;
}
/* discount styles start */
.discount-area{
    max-width: 1600px;
    text-transform: uppercase;
    text-align: center;
    font-family: Inter;
}
.discount-title{
    color: #F00;
    font-size: 88px;
    font-weight: 700;
}
.discount-info{
    color: #F00;
    font-size: 24px;
    font-weight: 500;
}
.discount-info-title{
    color: #070211;
    font-size: 48px;
    font-weight: 700;
}
.New-Year-Photo{
    max-width: 902px;
    /* position: relative; */
}
/* discount styles end */

/* midnight party styles start */
/* midnight party styles end */

/* location styles start */
.location-area{
    max-width: 1320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}
.location {
    margin: 100px auto 18px;
}
.location-area-content {
    display: flex;
    /* align-items: center; */
    margin-bottom: 10px;
}

.label-heading {
    /* margin-right: 10px; */
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.location-area input[type="text"] {
    border: none;
    background-color: transparent;
    outline: none;
    color: #070211;
    font-family: Inter;
    font-size: 26px;
    font-weight: 600;
    line-height: 58px;
    text-transform: capitalize;
}

.btn-join input{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: none;
    margin-bottom: 90px;
}

/* location styles end */

/*footer area styles start*/
.footer-area{
    max-width: 1600px;
    /* height: 609px; */
    background: #070211;
    color: #FFF;
    padding: 120px 140px;
}
.footer-info{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.phone{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.website{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}
.phone img{
    max-width: 24px;
    max-height: 24px;
}
.phone p{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    margin-left: 10px;
}
.website img{
    max-width: 24px;
    max-height: 24px;
    margin-right: 10px;
}
.website p{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.large-text{
    max-width: 60%;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
    overflow-wrap: break-word;
}

.footer-social-media {
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.footer-social-media img{
    max-width: 64px;
    max-height: 64px;
    padding: 24px;
}
.cpoy-right-text{
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}
.copy-right-column button{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
    background: #070211;
    border: none;
}

.footer-cpoy-right{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
hr {   
    max-width: 1320px;
    height: 1px;
    background: rgba(255, 255, 255, 0.15);
    color: #FFFFFF26;
    border: none;
}

/*footer area styles end*/